

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





main {
    background-color: pink;
    padding:4px;
    color: #202020;
    grid-area: main;
    
}



h1, h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}





/* there are many types of selector : , | > | or without */
main ul li {
    background-color: red;
}

main ul {
    background-color: blueviolet;
}

main div {
    background-color: yellow;
}



main ul > li:nth-child(2) {
    background-color: violet;
    border-radius: 100px;
    width:10%;
}

.experience {
    background-color: rgb(222, 220, 253);
    border: inset 1px;
    font-size: larger;
    text-transform: capitalize;
    margin-bottom: 4px;
    border-radius: 10px;
    
  
}

.experience .title {
    font-weight: bold ;
    color: white;
    background-color: rgb(146, 146, 255);
    margin-top: 0;
    padding-left: 15px;
 
}

.experience p {
    padding-left: 15px;
}

header img {
    border-radius: 100%;
    max-width: 200px;
    box-sizing: border-box;
}



/*to get border to show up there are properties such as pixel width, solid line,color */
/* this symbol ">" is for direct children */



/* 
position: static       means default
position: relative     change but normal to page
position: absolute      specific on page
position: fixed       specific in browser
*/

footer {
    background-color: black;
    color: lightblue;
    text-align: center;
    padding: 2px;
    position:fixed;
    left:0;  /* remove left space */
    bottom:0;
    width: 100%;
    grid-area:footer;
}


/* 
display: block       take all horizontal space
display: inline     specific width with items sharing space
display: hidden      take space, but hidden
display: none      not shown
display: flex      row/collumn based layout
display: grid      specify site region for elements
*/

#menu li {
    display:inline; /* for putting elements horitally */
    padding:8px;
    background-color:rgb(78, 78, 78);
    border-radius: 10%;
    

}
 
/*text decoration is to set the decoration*/
#menu li a {
    color: white !important; 
    text-decoration: none;
    
   
}

#menu li.active {
    background-color: darkslateblue;
}


header #headshot, header #siteName, header #menu {
    display: inline;
    vertical-align: middle;     
}
 
#menu {
    float:right;   /* float to the right */
}

/* 
display: flex    anything display inside will display the pattern 
E.g: display: flex; 
flex-direction: row ; or maybe row reverse;
flex-direction: collumn;

justify-content: flex-start,end;
justify-content: space-between;

*/

header {
   
    display: flex;
    justify-content: start;
    align-items:center; /* put item in container */
    grid-area:header;

}




header #menu {
    margin-left: auto;  /* make margin left as large as possible */
}


.aside {
    grid-area: aside;
}

.container {
    display: grid;  
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    /* need to specify grid-area:header, main, footer */
    grid-template-columns: auto 200px ; 
    /* the above is resize as large as possible
    for the left collumn, 200px is for fixed size
    contact form */

    grid-gap:10px;


}


textarea  {
    border-radius: 10%;
}




#formInfo {
    font-style:italic;
    font-size: 20px;
}

.experience:hover{
    background-color: red;
}